RewriteEngine On

# Si la petición ya apunta a la carpeta public, no hacer nada
RewriteCond %{REQUEST_URI} !^/public/

# Redirigir todo a la carpeta public manteniendo lo que venga después
RewriteRule ^(.*)$ public/$1 [L]