RewriteEngine On

# Si el archivo o directorio solicitado no existe físicamente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...enviar la petición al index.php
RewriteRule ^ index.php [L]