RewriteEngine On
# Si el archivo o carpeta existe físicamente, que lo abra (para CSS/JS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Si no existe, todo al index.php
RewriteRule ^ index.php [QSA,L]